<!--
Page to record an expense
-->


<ion-view view-title="Confirm the Expense" name="confirm">
    <ion-content padding="true">
        <form name="conForm">
            <ion-list>
               </br></br>
               <!-- Category -->
                <label class="item item-input item-select">
                   <span class="input-label" >Category</span></br>
                    <select name="category" ng-model="category">
                     <option selected >Entertainment</option>
                    <option>Food</option>
                    <option>Living</option>
                    <option>Saving</option>
                    </select>
                </label>
                  <!-- Error Message -->
                 <span class="error" ng-show="conForm.category.$touched && conForm.category.$error.required"><i class="ion-information-circled"></i> Category is Required!</span>
                 <!-- Amount -->
                <label class="item item-input">
                    <span class="input-label">Amount</span></br>
                    <input name="amount" type="number" placeholder="How much?" step="0.01" ng-model="amount" min="-10000.01" max="10000.01"  required>
                </label>
                 <!-- Error Message -->
                  <span class="error" ng-show="conForm.amount.$touched && conForm.amount.$error.required"><i class="ion-information-circled"></i> Amount is Required</span>
                 <!-- Vendor -->
                <label class="item item-input">
                    <span class="input-label">Vendor</span></br>
                    <input name="vendor" type="text" placeholder="Where did you buy it?" ng-model="vendor" required>
                  <!-- Error Message -->         
                    </label>
                 <span class="error" ng-show="conForm.vendor.$touched && conForm.vendor.$error.required"><i class="ion-information-circled"></i> Vendor is Required!</span>
                 <!--Date -->
                <label class="item item-input">
                    <span class="input-label">Date</span></br>
                    <input name="date" type="date" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" min="2015" max="2020-10-31" ng-model="date">
                </label>
              </ion-list>
            <button class="button button-block button-calm" ng-disabled="conForm.$invalid" ng-click="confExp(category, amount, vendor, date)">Submit</button>
    
    </form> 
    
    </ion-content>
</ion-view>

