<ion-view view-title="Where to Next" name="record">
   
    <ion-content padding="true">
           
         <!-- Photo -->
        <button class="button button-block button-calm" ng-click="goPhoto()">Take a Picture of an Expense</button> 
         <!-- Receipt Manual Entry -->
          <button class="button button-block button-calm" ng-click="goRec()">Type in a New Receipt</button> 
           <!-- Home -->
            <button class="button button-block button-calm" ng-click="goHome()">Go Home</button> 
    </ion-content>
</ion-view>