<ion-view title="Create Budget" id="page1">
    <ion-content padding="true" class="has-header">
        <div id="createBudget-markdown1" style="color:#000000;font-size:18px;">
            <p>Please input your income (per month):</p>
        </div>
        <form id="createBudget-form2" class="list">
            <label class="item item-input" id="createBudget-input2">
                <span class="input-label">Income</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a ui-sref="expenseModelSelect" id="createBudget-button1" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Confirm</a>
    </ion-content>
</ion-view>