<ion-view title="Do It Yourself" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="doItYourself-form3" class="list">
            <div id="doItYourself-markdown3" style="color:#000000;font-size:18px;">
                <p>Please input the amount of expense on each parts in your favor:</p>
            </div>
            <label class="item item-input" id="doItYourself-input7">
                <span class="input-label">Rent and utility</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="doItYourself-input3">
                <span class="input-label">Work/Study</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="doItYourself-input4">
                <span class="input-label">Food</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="doItYourself-input6">
                <span class="input-label">Entertainment</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="doItYourself-button20" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Confirm</button>
        <a ui-sref="expenseModelSelect" id="doItYourself-button21" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Back</a>
    </ion-content>
</ion-view>