<ion-view title="Do It Yourself" id="page7">
    <ion-content padding="true" class="has-header">
        <div id="doItYourself2-markdown4" style="color:#000000;font-size:18px;">
            <p>The sum of these expense is more than your income! Please input them again!</p>
        </div>
        <div>
            <img src="img/fPPxsNCRQWm51euuY0v8_X.jpg" width="60" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="doItYourself" id="doItYourself2-button24" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Back</a>
        <a ui-sref="expenseModelSelect" id="doItYourself2-button25" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Choose other models</a>
    </ion-content>
</ion-view>