<ion-view title="Expense Model Select" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="expenseModelSelect-markdown2" style="color:#000000;font-size:18px;">
            <p>Select your favourite type of expense:</p>
        </div>
        <div id="expenseModelSelect-button-bar2" class="button-bar"></div>
        <a ui-sref="frugalityModel" id="expenseModelSelect-button23" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Frugality Model</a>
        <a ui-sref="moderateModel" id="expenseModelSelect-button22" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Moderate Model</a>
        <a ui-sref="amusementModel" id="expenseModelSelect-button11" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Amusement Model</a>
        <a ui-sref="doItYourself" id="expenseModelSelect-button12" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">DIY</a>
        <a ui-sref="createBudget" id="expenseModelSelect-button13" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Back</a>
    </ion-content>
</ion-view>