<ion-view title="Type Selecion" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="typeSelecion-markdown2" style="color:#000000;font-size:18px;">
            <p>Select your favourite type of expense:</p>
        </div>
        <div id="typeSelecion-button-bar2" class="button-bar">
            <button id="typeSelecion-button9" class="button button-positive  button-block">Frugality Model</button>
        </div>
        <button id="typeSelecion-button10" class="button button-positive  button-block">Normal Model</button>
        <button id="typeSelecion-button11" class="button button-positive  button-block">Amusement Model</button>
        <button id="typeSelecion-button12" class="button button-positive  button-block">DIY</button>
        <a ui-sref="createBudget" id="typeSelecion-button13" class="button button-positive  button-block">Back</a>
    </ion-content>
</ion-view>