<ion-view title="Home Page" id="page5" style="background-color:#F5F5DC;">
    <ion-content padding="true" class="has-header">
        <div id="homePage-markdown1" style="color:#8B0000;text-align:center;">
            <p>COMP-SCI 5551 (FS16) - Advanced Software Engineering</p>
        </div>
        <div>
            <img src="img/xjR9dfQKaV6QTsxL1LyQ_Pocket_Manager.png" width="128" height="69" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="homePage-markdown3" style="color:#8B0000;text-align:center;">
            <p>Team 1: Yunlong Liu (25); Joshua Neustrom (39); Chen Wang (58); Dayu Wang (59)</p>
        </div>
        <div id="homePage-button-bar1" class="button-bar">
            <button id="homePage-button1" class="button button-calm  button-block icon ion-log-in">Sign In</button>
            <button id="homePage-button2" class="button button-positive  button-block icon ion-android-create">Sign up</button>
        </div>
    </ion-content>
</ion-view>